body
{
    margin: 0px;
    background: #F7F7F7;
}

.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/let\'s-do-it-together.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 100%;
}

.header-post
{
    background-color: #fff;
    height: 360px;
    width: 100%;
}

.header__nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 40px;
    margin-top: 16px;
}

.header-post__nav
{
    height: 40px;
}

.nav
{
    color: #fff;
}

.nav_with-background
{
    height: 90px;
    background: rgba(35, 47, 56, 0.6);
    border-radius: 0px;
}

.nav__title
{
    display: inline-block;
    font-family: 'Lora';
    font-size: 26px;
    line-height: 26px;
}

.nav__title_color-black
{
    color: #2E2E2E;
}

.nav__menu
{
    display: inline-block;
}

.menu
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;    
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.menu__item
{
    text-decoration: none;
    color: #FFFFFF;
}

.menu__item_color-black
{
    color: #2E2E2E;
}

.menu__item_secondary-style
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.menu__item_secondary-style + .menu__item_secondary-style
{
    margin-left: 20px;
}

.menu__item + .menu__item
{
    margin-left: 40px;
}

.header__headline
{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 0px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.header__headline_color-black
{
    color: #2E2E2E;
    margin-top: 100px;
}

.header__subheadline
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
}

.header__subheadline_color-black
{
    color: #2E2E2E;
}

.header__button
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px;
    border-radius: 3px;
    background: #DD783F;
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;
    padding-bottom: 100px;
    /* background: #FFF; */
}

.main__categories
{
    width: 940px;
    max-width: 100%;
    padding-left: 240px;
    padding-right: 240px;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.categories
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0px;
    background: #FFFFFF;
}

.categories__item
{
    text-decoration: none;
    color: #768088;
}

.main__posts
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 960px;
    background: #F7F7F7;
}

.posts__title
{
    margin-right: 50%;
    margin-left: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: #2E2E2E;
    margin-top: 60px;
    margin-bottom: 0px;
}

.posts__title::after
{
    content: '';
    display: block;
    margin-top: 16px;
    border-top: 1px solid #DEDEDE;
    border-radius: 0;
    width: 180px;   
}

.posts__card-big
{
    height: 280px;
    width: 460px;
    flex-shrink: 0;
}

.card-big 
{
    position: relative;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-big_background-1
{
    background-image: url("../images/the-road-ahead.jpg");
}

.card-big_background-2
{
    background-image: url("../images/from-top-down.jpg");
}

.card-big__headline
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.card-big__subheadline
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 12px;
}

.card-big__caption
{
    width: 420px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.caption
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.caption__photo
{   
    height: 26px;
    width: 26px;
    border-radius: 60px;
    margin-right: 10px;
}

.caption__name
{
    flex-grow: 1;
}

.card-big__label 
{
    position: absolute;
    top: 0px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 6px 10px;
    background: #DD783F;
    border-radius: 2px;
    margin-left: 20px;
    margin-top: 20px;
}

.posts__card-small
{
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-small
{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: #FFFFFF;
}

.card-small__image
{
    height: 150px;
    width: 300px;
}

.card-small__headline
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 14px;
    margin-bottom: 6px;
}

.card-small__subheadline
{
    flex-grow: 1;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 0px;
}

.caption_recent
{
    display: flex;
    flex-direction: row;
    width: 272px;
    color: #999999;
    background: #FCFCFC;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px;
    border-top-style: solid;
    border-top-color: #EFEFEF;
    border-top-width: 1px;    
}

.footer
{
    height: 380px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    background: url('../images/stay-in-touch.jpg');
}

.footer__title
{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin-top: 80px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #EFEFEF;
    margin-bottom: 20px;
}

.footer__title::after
{
    content: '';
    display: block;
    margin-top: 18px;
    border-top: 1px solid #DEDEDE;
    border-radius: 0;
    width: 180px;
}

.footer__input
{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #817F83;
    background: #FFFFFF;
    border-radius: 3px 0px 0px 3px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 35px;
    padding-right: 35px;
    width: 305px;
    border: none;
}

.footer__button
{
    display: inline-block;
    width: 125px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F8F8F8;
    border: none;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
}

.footer__nav
{
    flex-basis: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
}