<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Escape</title>
    <link href="../static/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header"> 
      <div class="header__nav nav">
        <span class="nav__title">Escape.</span>
        <nav class="nav__menu menu">
          <a class="menu__item" href="#">HOME</a>
          <a class="menu__item" href="#">CATEGORIES</a>
          <a class="menu__item" href="#">ABOUT</a>
          <a class="menu__item" href="#">CONTACT</a>
        </nav>
      </div>
      <h1 class="header__headline">Let's do it together.</h1>
      <p class="header__subheadline">We travel the world in search of stories. Come along for the ride.</p>
      <button class="header__button">View Latest Posts</button>
    </header>
    <main class="main">
      <nav class="main__categories categories">
        <a class="categories__item" href="#">Nature</a>
        <a class="categories__item" href="#">Photography</a>
        <a class="categories__item" href="#">Relaxation</a>
        <a class="categories__item" href="#">Vacation</a>
        <a class="categories__item" href="#">Travel</a>
        <a class="categories__item" href="#">Adventure</a>
      </nav>
      <section class="main__posts posts"> 
        <h2 class="posts__title">Featured Posts</h2>
        {{ range .FeaturedPosts }}
          <a class="posts__card-big card-big" href="/post/{{ .PostID }}" style="background-image: url('{{ .ImageUrl }}');">
            {{ if .LabelText }}
              <span class="card-big__label">{{ .LabelText }}</span> 
            {{ end }}
            <h3 class="card-big__headline">{{ .Headline }}</h3>
            <p class="card-big__subheadline">{{ .Subheadline }}</p>
            <div class="card-big__caption caption">
              <img class="caption__photo" src="{{ .AuthorPhoto }}" alt="{{ .AuthorName }}">
              <span class="caption__name">{{ .AuthorName }}</span>
              <span class="caption__date">{{ .PublishDate }}</span>
            </div>
          </a>
        {{ end }}
      </section>
      <section class="main__posts posts">
        <h2 class="posts__title">Most Recent</h2>
        {{ range .RecentPosts }}
          <a class="posts__card-small card-small" href="/post/{{ .PostID }}">
            <img class="card-small__image" src="{{ .ImageUrl }}" alt="{{ .Headline }}">
            <h3 class="card-small__headline">{{ .Headline }}</h3>
            <p class="card-small__subheadline">{{ .Subheadline }}</p>
            <div class="card-small__caption caption caption_recent">
              <img class="caption__photo" src="{{ .AuthorPhoto }}" alt="{{ .AuthorName }}">
              <span class="caption__name">{{ .AuthorName }}</span>
              <span class="caption__date">{{ .PublishDate }}</span>
            </div>
          </a>
        {{ end }}
      </section>
    </main>
    <footer class="footer">
      <h2 class="footer__title">Stay in Touch</h2>
      <input class="footer__input"  type="text" placeholder="Enter your email address">
      <button class="footer__button">Submit</button>
      <div class="footer__nav nav nav_with-background">
        <span class="nav__title">Escape.</span>
        <nav class="nav__menu menu">
          <a class="menu__item_secondary-style" href="#">HOME</a>
          <a class="menu__item_secondary-style" href="#">CATEGORIES</a>
          <a class="menu__item_secondary-style" href="#">ABOUT</a>
          <a class="menu__item_secondary-style" href="#">CONTACT</a>
        </nav>
      </div>
    </footer>
  </body>
</html>